@model WebApplication3.Models.Siniflar.Kategori
@{
    ViewData["Title"] = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h1>Kategori Güncelleme</h1>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.KategoriAd)
        @Html.TextBoxFor(x=>x.KategoriAd,
    new{@class="from-control" })
        @Html.HiddenFor(x=>x.KategoriId)
    </div>
    <button class="btn btn-warning">Güncelle</button>
}